In [1]:
import pandas as pd
house = pd.read_csv('https://raw.githubusercontent.com/we-b/datasets_for_ai/master/cal_house.csv')

In [2]:
house.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,41,880,129,322,126,8.3252,45.26
1,21,7099,1106,2401,1138,8.3014,35.85
2,52,1467,190,496,177,7.2574,35.21
3,52,1274,235,558,219,5.6431,34.13
4,52,1627,280,565,259,3.8462,34.22

In [3]:
house.shape

(1000, 7)

In [4]:
# 説明変数をXに代入
X = house[['housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income']]

# 目的変数をyに代入
y = house['median_house_value']

print(X.shape)
print(y.shape)
print(X)
print(y)

(1000, 6)
(1000,)
     housing_median_age  total_rooms  total_bedrooms  population  households  \
0                    41          880             129         322         126
1                    21         7099            1106        2401        1138
2                    52         1467             190         496         177
3                    52         1274             235         558         219
4                    52         1627             280         565         259
..                  ...          ...             ...         ...         ...
995                  11        12070            2220        5826        2125
996                  25          494              81         254          85
997                  22         5533             943        2474         910
998                  17         3956             639        2222         662
999                  12         1906             351         802         319

     median_income
0           8.3252
1           8.3014
2           7.2574
3           5.6431
4           3.8462
..             ...
995         4.8624
996         9.1531
997         4.7361
998         5.4324
999         4.9375

[1000 rows x 6 columns]
0      45.26
1      35.85
2      35.21
3      34.13
4      34.22
       ...
995    19.24
996    41.88
997    21.68
998    21.55
999    22.77
Name: median_house_value, Length: 1000, dtype: float64

In [5]:
X.head()

,housing_median_age,total_rooms,total_bedrooms,population,households,median_income
0,41,880,129,322,126,8.3252
1,21,7099,1106,2401,1138,8.3014
2,52,1467,190,496,177,7.2574
3,52,1274,235,558,219,5.6431
4,52,1627,280,565,259,3.8462

In [6]:
y.head()

0    45.26
1    35.85
2    35.21
3    34.13
4    34.22
Name: median_house_value, dtype: float64

In [7]:
from sklearn.model_selection import train_test_split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

In [9]:
# トレーニングデータのshapeを確認
print(X_train.shape)
print(y_train.shape)
# テストデータのshapeを確認
print(X_test.shape)
print(y_test.shape)

(700, 6)
(700,)
(300, 6)
(300,)

In [10]:
from sklearn.linear_model import LinearRegression

In [11]:
lr = LinearRegression()

In [12]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
# 係数
print(lr.coef_)
 # 切片 (誤差)
print(lr.intercept_)

[ 8.23907460e-02  6.05272548e-04  1.01131225e-03 -3.91111963e-03
  8.32728688e-03  3.83146993e+00]
2.1548174282355212

In [14]:
print(lr.score(X_train, y_train))

0.6265370605857614

In [15]:
print(lr.score(X_test, y_test))

0.6320584281761408